<!DOCTYPE html>
<html>
    <head>
        <title>Not found</title>
    </head>
    <body>
        <main>
            <section>
                <h1>Resource not found</h1>
                <p><%= request.path %></p>
            </section>
        </main>
    </body>
</html>